:root{
    --orange: #f98500;
    --black: #000000;
    --white: #ffffff;
    --yellow: #ffe81c;
    --red: #ff0000;
    --green: #17cc17;
    --gray: #929292;
    --blue: #68cff8;
    --navy: #12125c;
    --boss: 'Roboto', sans-serif;
    --mini: 'Comfortaa', cursive;
    --thinboss: 'Montserrat', sans-serif;
}